<div>
	<table border="1">
		<tr>
			<td>Index</td>
			<td>IndividualID</td>
			<td>ID</td>
			<td>DateTime</td>
			<td>Unit</td>
			<td>Value</td>
		</tr>
		<tr ng-repeat="biometric in biometricList.result">
			<td>{{$index + 1}}</td>
			<td>{{biometric.id}}</td>
			<td>{{biometric.individualId}}</td>
			<td>{{biometric.datetime}}</td>
			<td>{{biometric.measurement.uom}}</td>
			<td>{{biometric.measurement.value}}</td>
		</tr>
	
	</table>
</div>
  
<div>
	<input type="text" ng-model="bpmText">
	<button ng-click="sendBiometricToServer(bpmText)">My Heart is Beating</button>
</div>
