<div>
	<p>This tab shows an example of a simple <b>JSON REST Get</b> request. You can see a list below of all users of the Heart2Heart
	application</p>
	
	<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter your name here">
      <hr>
      <h2>Hello {{yourName}}</h1>
    </div>
	
	<table border="1">
		<tr>
			<td>Make Selection</td>
			<td>ID</td>
			<td>First Name</td>
			<td>Last name</td>
		</tr>
		<tr ng-repeat="individual in individualList">
			<td></td>
			<td>{{individual.id}}</td>
			<td>{{individual.name.givenName}}</td>
			<td>{{individual.name.familyName}}</td>
		</tr>
	</table>
</div>
